<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=BALIPC\SQLEXPRESS2008;database=ERP;uid=sa;pwd=sa123456"/>    
  </appSettings>
  <connectionStrings>
    <add name="ERPDB" providerName="System.Data.SqlClient" connectionString="server=BALIPC\SQLEXPRESS2008;database=ERP;uid=sa;pwd=sa123456;"/>
    <add name="sqlMembershipProviderConnectionString" providerName="System.Data.SqlClient" connectionString="server=BALIPC\SQLEXPRESS2008;database=ERPProvider;uid=sa;pwd=sa123456;"/>
  </connectionStrings>
  <system.web>
    <!--配置membership信息-->
    <membership defaultProvider="sqlMembershipProvider">
      <providers>
        <clear/>
        <add name="sqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="sqlMembershipProviderConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="ERP" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!--配置sitemap信息-->
    <siteMap enabled="true" defaultProvider="SiteMapAllChinese">
      <providers>
        <clear/>
        <add name="SiteMapAllChinese" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" securityTrimmingEnabled="true"/>
        <add name="SiteMapAllEnglish" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebEnglish.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--设置页面默认主题为Default-->
    <pages theme="Default">
    </pages>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" />
    <customErrors mode="Off" />
    <!--identity impersonate="true"/-->
    
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Forms">
      <forms name="ERP-M" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    </system.web>
</configuration>