body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

    font-size: 12px;
}
.welcome 
{
	color: #2b7dbb;
}
       .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 207px;
        }
        .style3
        {
            width: 383px;
        }
    .style4
    {
        width: 207px;
        height: 32px;
    }
    .style5
    {
        width: 383px;
        height: 32px;
    }
    .style6
    {
        height: 32px;
    }